<div>
    <form class="form-login" ng-submit="adminLogin()">
        <h1 class="form-login-header">Admin Login</h1>
        <!-- Username -->
        <label>Username:</label>
        <input class="form-control" type="text" name="username" placeholder="Please enter username." ng-model="loginForm.username"
            required>
        <br>
        <!-- Password -->
        <label>Password:</label>
        <input class="form-control" type="password" name="password" placeholder="Please enter password." ng-model="loginForm.password"
            required>
        <br>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>