<!DOCTYPE html>
<html ng-app="meanTech">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>All Services</title>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<h1>All Services</h1>

		<div ng-controller="serviceController">
		</div>
	</div>
	
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="app.module.js"></script>
	<script src="controllers/service.js"></script>
</body>
</html>