<body>
    <!--<div align="center"> <h1>{{companyInfo.name}}</h1> </div>
    
    <div>
        <img src={{companyInfo.logourl}}>
        <br>
        <label>Category: {{companyInfo.category}}</label> 
        <br>
         <label>Address: {{companyInfo.address}} , {{companyInfo.area}} , {{companyInfo.city}}  </label> 
        <br>
         <label>Description: {{companyInfo.description}}</label> 
        <br>
        <label>Email: {{companyInfo.email}}</label> 
        <div ng-repeat="companyInfo.mobilenumbers in companyInfo">
            {{companyInfo.mobilenumbers}} </div>
        <div ng-repeat="companyInfo.branches in companyInfo">
            {{companyInfo.branches}} </div>
        <br>
    </div>

    <label>Company</label>-->

    {{companyInfo}}

</body>