<!--<p>
    {{services}}</p>
<html>

<head>
    <style>
        #servicesTable {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #servicesTable td,
        #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #servicesTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #servicesTable tr:hover {
            background-color: #ddd;
        }

        #servicesTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<div>
    <table id="servicesTable" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Available Bookings</th>
                <th>Duration</th>
                <th>Description</th>
                <th>Price</th>
                <th>Picture</th>
                <th>Editing</th>


            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="service in services">
                <td>{{service.name}}</td>
                <td>{{service.availableBookings}}</td>
                <td>{{service.duration}}</td>
                <td>{{service.description}}</td>
                <td>{{service.price}}</td>
                <td>{{service.pictureURL}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteService(service._id)">Remove</button>
                </td>



            </tr>
        </tbody>
    </table>
</div>

</html>-->





<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>


<div ng-show="showTable" class="alert alert-info">
    <p>Sort Type: {{ sortType }}</p>
    <p>Sort Reverse: {{ sortReverse }}</p>
    <p>Search Query: {{ searchFish }}</p>
</div>

<form>
    <div ng-show="showTable" class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search your Services" ng-model="searchFish">
        </div>
    </div>
</form>

<table ng-show="showTable" class="table table-bordered table-striped">

    <thead>
        <tr>
            <td>
                <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                Name 
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
            </td>
            <td>
                <a href="" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
            Available Bookings
                <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
            </a>
            </td>
            <td>
                <a href="" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
            Duration 
                <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
            </a>
            </td>
            <td>
                <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                Description 
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
            </td>
            <td>
                <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                Price 
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
            </td>
            <td>
                <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                Picture URL
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
            </td>
            <td>Update</td>
            <td> Delete</td>

        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="service in services | orderBy:sortType:sortReverse | filter:searchFish">
            <td>{{service.name}}</td>
            <td>{{service.availableBookings}}</td>
            <td>{{service.duration}}</td>
            <td>{{service.description}}</td>
            <td>{{service.price}}</td>
            <td>{{service.pictureURL}}</td>
            <td><button class="btn btn-warning" ng-click="selectServiceToBeUpdated(service)">Update</button></td>
            <td><button class="btn btn-danger" ng-click="deleteService(service._id)">Delete</button></td>
        </tr>
    </tbody>

</table>

<div ng-hide="showTable">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1 class="navbar-brand">Update Service</h1>
            </div>
        </div>
    </nav>

    <div class="col-xs-12 col-md-4">
        <div class="form-container">
            <form name="serviceupdate" class="form" ng-submit="updateService()">
                <div class="form-group">
                    <label for="InputTitle">Name</label>
                    <input name="name" type="text" class="form-control" id="InputTitle" placeholder="" ng-model="selectedService.name" required="required">
                    <span ng-show="serviceupdate.name.$error.required">*</span>
                </div>
                <div class="form-group">
                    <label for="InputLink">Available Bookings</label>
                    <input name="availableBookings" type="text" class="form-control" id="InputLink" placeholder="" ng-model="selectedService.availableBookings" required="required">
                    <span ng-show="serviceupdate.availableBookings.$error.required">*</span>

                </div>
                <div class="form-group">
                    <label for="InputTitle">Duration</label>
                    <input name="duration" type="text" class="form-control" id="InputTitle" placeholder="" ng-model="selectedService.duration" required="required">
                    <span ng-show="serviceupdate.duration.$error.required">*</span>

                </div>
                <div class="form-group">
                    <label for="InputTitle">Description</label>
                    <input name="description" type="text" class="form-control" id="InputTitle" placeholder="" ng-model="selectedService.description"
                        required="required">
                    <span ng-show="serviceupdate.description.$error.required">*</span>

                </div>
                <div class="form-group">
                    <label for="InputTitle">Price</label>
                    <input name="price" type="text" class="form-control" id="InputTitle" placeholder="" ng-model="selectedService.price" required="required">
                    <span ng-show="serviceupdate.price.$error.required">*</span>

                </div>
                <div class="form-group">
                    <label for="InputTitle">Picture URL</label>
                    <input name="pictureURL" type="url" class="form-control" id="InputTitle" placeholder="" ng-model="selectedService.pictureURL"
                        required="required">
                    <span ng-show="serviceupdate.prictureURL.$error.required">*</span>

                </div>

                <button type="submit" class="btn btn-default"> Update Service!</button>
            </form>
        </div>
    </div>
</div>

</div>