<div>
	<div class="panel panel-default" style="width: 20%; vertical-align: middle; margin: 0 auto;">
		<div class="panel-body">
			<div class="text-center">
				<h1>
					<small class="uppercase">Client Login</small>
				</h1>

				<form ng-submit="clientLogin()">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="clientForm.username" placeholder="Username" />
					</div>

					<div class="form-group">
						<input type="password" class="form-control" ng-model="clientForm.password" placeholder="Password" />
					</div>

					<br />

					<button class="btn btn-success" ng-disabled="!isClientFormValid()" ng-keyup="$event.keyCode == 13">Log in</button>
				</form>
				<a href="#/clientUpdatePassword">Forgot Password</a>
>Log in</button>

			</div>
		</div>
	</div>

	<div class="panel panel-default" style="width: 20%; vertical-align: middle; margin: 0 auto;">
		<div class="panel-body">
			<div class="text-center">
				<h1>
					<small class="uppercase">Company Login</small>
				</h1>

				<form ng-submit="companyLogin()">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="companyForm.username" placeholder="Username" />
					</div>

					<div class="form-group">
						<input type="password" class="form-control" ng-model="companyForm.password" placeholder="Password" />
					</div>

					<br />

					<button class="btn btn-success" ng-disabled="!isCompanyFormValid()" ng-keyup="$event.keyCode == 13">Log in</button>
				</form>
			</div>
		</div>
	</div>
</div>