<div>
    <div>
        <h1>My profile: </h1>
    </div>

    <div>
        <div>
            <div>
                <div>
                    <div>
                        First name: {{companyInfo.name}}<br>
                    </div>
                    <div>
                        {{ "last name: " + companyInfo.city}} <br>
                    </div>
                    <div>
                        {{ "user name: " + companyInfo.username}} <br>

                    </div>
                    <div>
                        {{ "last name: " + companyInfo.lastName}} <br>
                    </div>
                    <div>
                        {{ "address: " + companyInfo.address}} <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>