<form method="GET" ng-submit="viewProfile()">
    <div>
        <h1>My profile: <span class="label label-info"></span></h1>
    </div>

    <div>
        <div>
            <div>
                <div>
                    <div>First name: {{profile.firstName}}<br>


                    </div>
                    <div>
                        {{ "last name: " + profile.lastName}} <br>
                    </div>

                    <div>
                        {{ "user name: " + profile.username}} <br>

                    </div>

                    <div>
                        <!--{{ profile.profilePictureURL}}
                        <img src= {{profile.profilePictureURL}} alt="no photo" style="width:304px;height:228px;">-->

                        <br>
                    </div>

                    <div>
                        {{ "email: " + profile.email}} <br>
                    </div>

                    <div>
                        {{ "address: " + profile.address}} <br>
                    </div>
                    <div>
                        {{ "gender: " + profile.gender}} <br>
                    </div>
                    <div>
                        {{ "age: " + profile.age}} <br>
                    </div>
                    <div>
                        {{ "security question: " + profile.securityQuestion}} <br>
                    </div>
                    <div>
                        {{ "security answer: " + profile.securityAnswer}} <br>
                    </div>
                    <div ng-repeat="company in profile.favCompanies">
                        <br />
                        Company Name: {{company}}<br /> 

                    </div>
                    <div>
                        {{ "phone numbers: " + profile.phoneNumbers}} <br>
                    </div>
                    <div>
                        {{ "previous events: " + profile.previousEvents}}
                    </div>
                </div>
            </div>

        </div>
    </div>

</form>