<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
</style>
<div>

    <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">{{companyInfo.name}}</h4>
         <hr>
         <p><i class="fa fa-tags" aria-hidden="true"></i> {{companyInfo.category}}</p>
         <p><i class="fa fa-home" aria-hidden="true"></i>{{companyInfo.address}} , {{companyInfo.area}} , {{companyInfo.city}}</p>
         <p><i class="fa fa-comment" aria-hidden="true"></i> {{companyInfo.description}}</p>
         <p><i class="fa fa-globe" aria-hidden="true"></i> {{companyInfo.socialMediaURL}}</p>
        <p><i class="fa fa-envelope-open" aria-hidden="true"></i> {{companyInfo.email}}</p>
        <i class="fa fa-phone" aria-hidden="true"></i><div ng-repeat="mobileNumber in companyInfo.mobileNumbers">
             {{mobileNumber}} </div>
         <i class="fa fa-map-marker" aria-hidden="true"></i><div ng-repeat="branch in companyInfo.branches">
            {{branch}} </div>

        </div>
              
    </div>
      <button ng-click="MyReviewPage(companyInfo._id)" class="w3-button w3-theme">My Reviews</button>
                 <button ng-click="companyUpdatePassword()" class="w3-button w3-theme">Update Password</button>

</div>
