<div>
    <div align="center">
        <h1>{{companyInfo.name}}</h1>
    </div>

    <div>
        <br>
        <label>Category: {{companyInfo.category}}</label>
        <br>
        <label>Address: {{companyInfo.address}} , {{companyInfo.area}} , {{companyInfo.city}}  </label>
        <br>
        <label>Description: {{companyInfo.description}}</label>
        <br>
        <URL>{{companyInfo.socialMediaURL}}</URL>
        <label>Email: {{companyInfo.email}}</label>
        <div ng-repeat="mobileNumber in companyInfo.mobileNumbers">
           Mobile:  {{mobileNumber}} </div>
        <div ng-repeat="branch in companyInfo.branches">
           Branches:  {{branch}} </div>
        <br>
        <button ng-show="showReview" ng-click="reviewPage(companyInfo)">Write Review</button>
        <button  ng-click="viewReviews(companyInfo)">View Reviews</button>
         <button class "btn btn-primary" ng-click="addToFavCompanies()">Add to Favourites</button>
    </div>
</div>

