<div>
    <h1 class="page-header">View Companies</h1>
    <div class="row placeholders" ng-submit="viewCompanies()">
        <ul class="list-group company-list">
            <div ng-repeat="company in companies">
                <li class="list-group-item list-group-item-info">
                    Name: {{company.name}} Username: {{company.username}}
                </li>
            </div>
        </ul>
        <button class="btn btn-primary" type="submit" ng-click="goDelete()">Next</button>
    </div>
</div>